.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}


.main{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    grid-gap: 20px;
}


@media screen and (min-width: 1000px){
    .container{
        padding: 0% 8%;
    }

    .main{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        align-items: center;
    }


}