.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}


.main{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    grid-gap: 20px;
}


@media screen and (min-width: 1000px){
    .container{
        padding: 0% 10%;
    }

    .main{
        grid-template-columns:  45% 55%;
        grid-gap: 20px;
        align-items: center;
        justify-content: space-between;
        
    }

    .aside  {
        display: grid;
        grid-row:1/4;
        grid-column: 2/3;
        
    }
   
}